SR.MVCWebSite/Connected Services/StudentsService/Students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56657/Students.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SR.ApplicationServices.DTOs" />
  <xs:element name="GetStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SR.ApplicationServices.DTOs" minOccurs="0" name="GetStudentsResult" nillable="true" type="q1:ArrayOfStudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SR.ApplicationServices.DTOs" minOccurs="0" name="GetByIdResult" nillable="true" type="q2:StudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SR.ApplicationServices.DTOs" minOccurs="0" name="stuDTO" nillable="true" type="q3:StudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SR.ApplicationServices.DTOs" minOccurs="0" name="stuDTO" nillable="true" type="q4:StudentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>